<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <title>

  </title>
<!--  <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"-->
<!--          th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
</head>
<body>
<div>
  <table>
    <tr>
      <th> POSITION</th>
      <th> CREATED DATE</th>
    </tr>
    <tbody id="students" class="tbody">

    </tbody>
  </table>
</div>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="test.js"></script>
</body>
</html>
